<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187151532771-jk612p7r3r4u2flnu0jhvh7itn3tau9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187151532771-jk612p7r3r4u2flnu0jhvh7itn3tau9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDJg1WeCxi_W6QHgt0TWHvK-kV8dfr99u0</string>
	<key>GCM_SENDER_ID</key>
	<string>187151532771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Matveichuk.The-final-run</string>
	<key>PROJECT_ID</key>
	<string>score-table-d3cd9</string>
	<key>STORAGE_BUCKET</key>
	<string>score-table-d3cd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187151532771:ios:ae20d529e4bc3fad10fbd6</string>
</dict>
</plist>